.navbar {
  background-color: #333333;
  min-height: 45px;

  nav #menu {
    display: none;
  }

  nav label {
    height: 45px;
    cursor: pointer;
    background: url(./images/burger.png) no-repeat 50% 80%;
    background-size: 65%;
    padding: 0 0 16px 0;
    color: transparent;
  }

  nav ul {
    list-style-type: none;
    padding: 20px 0 0 0;
    margin: 0;
    line-height: 50px;
    li {
      cursor: pointer;
      text-align: center;
      height: 50px;
      &:hover {
        background-color: #565656;
      }
    }
    a {
      text-decoration: none;
      display: block;
      color: #fff;
    }
  }

  nav {
    input:not(:checked) ~ .navbar-main {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-checkbox, .navbar-label {
    display: none;
  }
  .navbar {
    nav ul {
      display: flex !important;
      justify-content: flex-start;
      padding: 0;
      li {
        flex: 1;
        text-align: center;
      }
    }
  }
}
